*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.wrapper{
      height: 100vh;
      display:flex;
      align-items: center;
      justify-content: space-evenly;
}
.image{
    position: relative;
    padding: 10px;
}
.bg{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.sm{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    border: 4px solid white;
}